<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="base::lostandfoundnav">
    </th:block>
</head>

<body id="page-top">



<span>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    <h1>Add Organization</h1>
                    </div>

               </div>

              <form th:action="@{/useraddlost}" th:object="${newlost}" method="post">
                        <input type="hidden" th:field="*{id}">

                  <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            <label for="title">Lost Title</label>
            <input type="text" class="form-control" th:field="*{title}">

            <label for="name">Lost item Name</label>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <input type="text" class="form-control" th:field="*{name}">

            <label for="desc">Lost item description</label>
            <span th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></span>
            <input type="text" class="form-control" th:field="*{desc}">

            <label for="image">Lost item Image</label>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{image}"></span>
            <input type="text" class="form-control" th:field="*{image}">

                        <select th:field="*{category}">
                            <option th:each="eachCat:${cats}" th:value="${eachCat.id}" th:text="${eachCat.catName}" th:selected="*{category}"></option>
                        </select>
                       <!-- <input type="submit" value="Add">-->
                   <button type="submit" class="btn btn-default">Save</button>

                </form>
            </div>

        </section>
    </span>


</body>
</html>