<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="lostswithusers">
    <div class="row">
        <div class="col-md-8"><h4 class="pull-right"><a th:href="@{/addlost}">Add</a></h4></div>
    </div>
    <table class="table">
        <tr th:each="eachlost:${lostlist}">
            <td th:text="${eachlost.title}">Item</td>
            <td th:if="${eachlost.category}!=null" th:text="${eachlost.category.catName}">Item</td>
            <!--<form th:action="@{/update/lost}" th:method="post">-->
            <!--<td><button class="btn btn-default" name="id" th:value="${eachlost.id}">Update</button></td>-->
            <!--</form>-->

            <form th:action="@{/addusertolost}" th:method="post">
                <td><button class="btn btn-default" name="lostid" th:value="${eachlost.id}">Add User</button></td>
            </form>
            <td th:if="${eachlost.lusers}!=null">
                <span th:each = "eachUser:${eachlost.lusers}">
                    <button class="btn btn-sm btn-close" th:text="${eachUser.username}"></button>
                </span>
            </td>
        </tr>
    </table>
</div>

</body>
</html>