<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Lost Form</title>
</head>
<body>

-------------------------


<div th:fragment="jobswithskills">
    <div class="row">
        <div class="col-md-8"><h4 class="pull-right"><a th:href="@{/addjob}">Add</a></h4></div>
    </div>
    <table class="table">
        <tr th:each="eachjob:${joblist}">
            <td th:text="${eachjob.jobTitle}">Item</td>
            <td th:if="${eachjob.jobOrg}!=null" th:text="${eachjob.jobOrg.orgName}">Item</td>
            <!--<form th:action="@{/update/job}" th:method="post">-->
            <!--<td><button class="btn btn-default" name="id" th:value="${eachjob.id}">Update</button></td>-->
            <!--</form>-->

            <form th:action="@{/addskilltojob}" th:method="post">
                <td><button class="btn btn-default" name="jobid" th:value="${eachjob.id}">Add Skill</button></td>
            </form>
            <td th:if="${eachjob.jobSkills}!=null">
                <span th:each = "eachSkill:${eachjob.jobSkills}">
                    <button class="btn btn-sm btn-close" th:text="${eachSkill.skillName}"></button>
                </span>
            </td>
        </tr>
    </table>
</div>
<!--End of organizations list-->
---------------------




<section>
    <div class="container">

        <form th:action="@{/addlost}" th:object="${aLost}" method="post">
            <input type="hidden" th:field="*{id}">

            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            <label for="title">Lost Title</label>
            <input type="text" class="form-control" th:field="*{title}">

            <label for="name">Lost item Name</label>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <input type="text" class="form-control" th:field="*{name}">

            <label for="desc">Lost item description</label>
            <span th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></span>
            <input type="text" class="form-control" th:field="*{desc}">

            <label for="image">Lost item Image</label>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{image}"></span>
            <input type="text" class="form-control" th:field="*{image}">



            <select th:field="*{jobOrg}">
                <option th:each="eachOrg:${organizations}" th:value="${eachOrg.id}" th:text="${eachOrg.orgName}" th:selected="*{jobOrg}"></option>
            </select>

            <div class="form-group">
                <label th:for="type">Users</label>
                <select name="username" id="user" class="selectpicker">
                    <option th:each="pledgeuser : ${userList}"
                            th:value="${pledgeuser.id}" th:inline="text"> [[${pledgeuser.username}]]</option>
                </select>
            </div>

            <button type="submit" class="btn btn-default">Save</button>

        </form>

    </div>
</section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>